<div class="containerNote">
    <div class="containerIntern">
        <button class="openModal" data-bs-toggle="modal" data-bs-target="#modelId">+</button>
        <p class="textNote">Agregar una nota</p>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form [formGroup]="formNote" (ngSubmit)="AddNote(newEvent.value)">
                <div class="modal-header">
                    <div class="headerContainer">
                        <input class="title" type="text" placeholder="Titulo" formControlName="title" #newEvent>
                    </div>
                    <!-- <input class="title" type="text" placeholder="Titulo" formControlName="title" #newEvent> -->
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <div class="modalContainer">
                    <textarea class="contentNote" name="contentNote" id="" cols="50" rows="10" autofocus
                        placeholder="Agrega tus anotaciones..." formControlName="contentNote" #newEvent></textarea>
                    <div class="containerFooter">
                        <img class="paletteColors" src="../../../assets/img/paleta-de-color.png" alt="">
                        <p class="date">{{newDate | date: 'short'}}</p>
                        <button type="submit" class="saveNote">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>