<main>
    <h1>Inicia Sesion</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onLogin()">
        <input type="email" placeholder="Correo electrónico" formControlName="email"><br>
        <input type="password" placeholder="contraseña" formControlName="password"><br>
        <button type="submit">Entrar</button><br>
        <button (click)="loginWithGoogle()">Iniciar sesión con Google</button><br>
        <span>No tienes cuenta?<a routerLink="/registro">Registrate</a></span>
    </form>
</main>


