<app-header></app-header>
<app-navbar></app-navbar>
<main class="main">
    <div class="headerPage">
        <h3 class="titlePage">Notas Eliminadas</h3>
        <button class="btnaddNote" routerLink="/inicio">
            <fa-icon [icon]="faPlus"></fa-icon>
            Agregar una nota nueva
        </button>
    </div>
    <div class="allNotes">
        <div class="containerNotes" *ngFor="let note of interface">
            <div class="headerNote">
                <header>
                    <h1 class="titleNote">{{note.title}}</h1>
                    <p>publicada el: {{note.date | date: 'short'}}</p>
                </header>
            </div>
            <hr>
            <div class="containerTextNotes">
                <p class="contentText">{{note.contentNote}}</p>
            </div>
            <div class="containerFooter">
                <img class="icon" src="../../../assets/img/paleta-de-color.png" alt="Colores" title="Cambiar color">
                <button class="btnRestaure" data-id={{note.id}} data-value={{note.status}}
                    (click)="btnRestaure($event)">
                    <img class="icon" src="../../../assets/img/actualizar.png" alt="Archivar" title="Archivar">
                </button>
                <button class="btnDelete" (click)="btnDelete(note.id)">
                    <img class="icon" src="../../../assets/img/papelera-de-reciclaje.png" alt="Archivar"
                        title="Archivar">
                </button>

            </div>
        </div>
    </div>
</main>