@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');

.main {
    display: flex;
    position: absolute;
    margin: -35% 0 0 8%;
    width: 90vw;
    height: 75vh;
    flex-direction: row-reverse;
}

.allNotes {
    display: flex;
    position: absolute;
    margin: 3% 0 0 1%;
    width: 90vw;
    height: 90%;
    overflow-y: auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.titleNote {
    font-family: 'Rufina';
    font-style: italic;
    font-weight: 800;
    font-size: 20px;
    color: #424E5A;
}

//Solo la primera letra en mayuscula 
.titleNote:first-letter {
    text-transform: uppercase;
}

.containerNotes {
    margin: 15px 10px;
    border: 1px solid #000000;
    box-shadow: 10px -10px 4px #C4C4C4;
    width: 25%;
    height: 70%;
}

.icon {
    width: 30px;
    height: 30px;
    pointer-events: none
}

.headerNote {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnModalNotes,
.btnDelete,
.btnArchive,
.btnEdit {
    border: none;
    cursor: pointer;
    background-color: transparent;
}


.btnaddNote {
    border: none;
    cursor: pointer;
    background-color: rgba(239, 151, 151, 1);
    color: #FFFFFF;
    border-radius: 20px;
    height: 30px;
    box-shadow: 0px 8px 15px rgba (0, 0, 0, 0.1);
    //transition: all 0.3s ease;
}

.btnaddNote:hover {
    background: #0e0d0d;
    color: rgba(239, 151, 151, 1);
    box-shadow: 0px 10px 25px rgba (46, 223, 229, 0.445);
}

h1,
p {
    padding: 0 0 0 10px;
    margin: 0;
}

.containerFooter {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.containerTextNotes {
    overflow-y: auto;
    height: 50%;
    //background-color: rgb(255, 0, 140);
    margin: 10px;
    word-break: break-all; //ajustar texto dentro del div
}

// toda la barra de desplazamiento.
.allNotes::-webkit-scrollbar,
.containerTextNotes::-webkit-scrollbar {
    -webkit-appearance: none;
}

.allNotes::-webkit-scrollbar:horizontal {
    height: 8px;
}

.allNotes::-webkit-scrollbar:vertical,
.containerTextNotes::-webkit-scrollbar:vertical {
    width: 8px;
}

// el controlador de desplazamiento arrastrable.
.allNotes::-webkit-scrollbar-thumb,
.containerTextNotes::-webkit-scrollbar-thumb {
    background-color: #F3E9DF;
    border-radius: 20px;
}

// la pista (barra de progreso) de la barra de desplazamiento, donde hay una barra gris encima de una barra blanca.
.allNotes::-webkit-scrollbar-track,
.containerTextNotes::-webkit-scrollbar-track {
    border-radius: 10px;
}

.contentText {
    padding: 5px;
}

a {
    text-decoration: none;
    color: #332f2f;
    font-family: 'Rufina';
    font-style: normal;
    line-height: 25px;
    cursor: pointer;
    margin-left: 2px;
}

.iconF {
    color: #f81010;
    margin-right: 3px;
}

.iconDelete {
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-family: 'Rufina';
    font-size: 17px;
    font-style: normal;
    line-height: 25px;
    color: #332f2f;
}

.titlePage {
    font-family: 'Rouge Script';
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    margin: -8px 30px 0 0;
}

.headerPage {
    display: flex;
    margin: -8px 5px 0 0;
}

/////ESTILOS PARA EL MODAL /////////////

.title {
    font-style: oblique;
    //margin: 2% 5%;
    width: 95%;
    font-size: 20px;
    font-family: 'Rufina';
}

.close {
    border: none;
    border-radius: 50%;
    background-color: #6b6161;
    color: #FFFFFF;
    height: 30px;
    width: 30px;
    box-shadow: 0px 8px 15px rgba (0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.close:hover {
    background: rgba(239, 151, 151, 1);
    transform: translateY(-7px);
    color: #6b6161;
    box-shadow: 0px 10px 25px rgba (46, 223, 229, 0.445);
}

input:focus,
textarea:focus {
    outline: none;
}


.contentNote {
    padding: 1%;
    margin: 0;
    font-family: 'Rufina';
    font-size: 18px;
}

.container-title {
    margin: 0 0 5px 10px;
}


.saveNote {
    border: none;
    margin: 0;
    cursor: pointer;
    background-color: rgba(239, 151, 151, 1);
    color: #FFFFFF;
    border-radius: 20px;
    height: 40px;
    width: 120px;
    box-shadow: 0px 8px 15px rgba (0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.saveNote:hover {
    background: #0e0d0d;
    transform: translateY(-7px);
    color: rgba(239, 151, 151, 1);
    box-shadow: 0px 10px 25px rgba (46, 223, 229, 0.445);
}

h5 {
    font-family: 'Rouge Script';
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    margin: 0 30%;
}