<app-header></app-header>
<app-navbar></app-navbar>
<div class="allNotes">
    <div class="containerNotes" *ngFor="let note of interface">
        <div class="headerNote">
            <header>
                <h1 class="titleNote">{{note.title}}</h1>
                <p>{{note.date}}</p>
            </header>
            <button class="btnModalNotes" (click)="openMenu()">
                <img class="icon" title="menu" src="../../../assets/img/menu.png">
            </button>
            <!-- Abre el menu cuando cambia a true -->
            <div class="menuNote" *ngIf="modalMenu == true">
                <button class="closeMenu" (click)="closeMenu()" title="cerrar">X</button>
                <div class="listMenu">
                    <a href="">Editar Nota</a> <br>
                    <a href="">Agregar Etiqueta</a> <br>
                    <a href="">Crear copia</a> <br>
                    <a href="">Eliminar Nota</a> <br>
                    <a href="">Archivar Nota</a>
                </div>
            </div>
        </div>
        <hr>
        <div class="containerTextNotes">
            <p class="contentText">{{note.contentNote}}</p>
        </div>
        <div class="containerFooter">
            <img class="icon" src="../../../assets/img/chinche.png" alt="Fijar" title="Fijar">
            <img class="icon" src="../../../assets/img/paleta-de-color.png" alt="Colores" title="Cambiar color">
            <img class="icon" src="../../../assets/img/abierto.png" alt="Archivar" title="Archivar">
            <img class="icon" src="../../../assets/img/papelera-de-reciclaje.png" alt="Eliminar" title="Eliminar">
        </div>
    </div>
</div>