<app-header></app-header>
<app-navbar></app-navbar>
<main class="main">
    <div>
        <button routerLink="/inicio">Agregar una nota nueva</button>
    </div>
    <div class="allNotes">
        <div class="containerNotes" *ngFor="let note of interface">
            <div class="headerNote">
                <header>
                    <h1 class="titleNote">{{note.title}}</h1>
                    <p>publicada el: {{note.date | date: 'short'}}</p>
                </header>
            </div>
            <hr>
            <div class="containerTextNotes">
                <p class="contentText">{{note.contentNote}}</p>
            </div>
            <div class="containerFooter">
                <button class="btnEdit" data-bs-toggle="modal" data-bs-target="#modelId" (click)="btnEdit(note)">
                    <img class="icon" src="../../../assets/img/editar.png" alt="Editar" title="Editar">
                </button>
                <img class="icon" src="../../../assets/img/paleta-de-color.png" alt="Colores" title="Cambiar color">
                <button class="btnArchive" data-id={{note.id}} data-value={{note.status}} (click)="btnArchive($event)">
                    <img class="icon" src="../../../assets/img/abierto.png" alt="Archivar" title="Archivar">
                </button>
                <button class="btnDelete" data-id={{note.id}} data-value={{note.status}} (click)="btnDelete($event)">
                    <img class="icon" src="../../../assets/img/papelera-de-reciclaje.png" alt="Archivar"
                        title="Archivar">
                </button>
            </div>
        </div>
    </div>
</main>

<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form [formGroup]="formNoteEdit" class="modal-content">
            <div class="modal-header">
                <input class="title" type="text" formControlName="title">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <textarea class="contentNote" name="contentNote" id="" cols="60" rows="10" autofocus
                        formControlName="contentNote"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="savedNote()">Guardar</button>
            </div>
        </form>
    </div>
</div>