<app-header></app-header>
<app-navbar></app-navbar>
<main>
    <div class="containerNotes">
        <div class="headerNote">
            <header>
                <h1>Titulo</h1>
                <p>fecha</p>
            </header>
            <button class="btnModalNotes"><img class="icon" src="../../../assets/img/menu.png"></button>
        </div>
        <hr>
        <div class="containerTextNotes">
            <p class="contentText">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled Lorem Ipsum is simply dummy text of the printing</p>
        </div>
        <div class="containerFooter">
            <img class="icon" src="../../../assets/img/chinche.png" alt="Fijar">
            <img class="icon" src="../../../assets/img/paleta-de-color.png" alt="Colores">
            <img class="icon" src="../../../assets/img/abierto.png" alt="Archivar">
            <img class="icon" src="../../../assets/img/papelera-de-reciclaje.png" alt="Eliminar">
        </div>
    </div>
</main>