.modalContainer {
    position: absolute;
    margin: -30% 0 0 30%;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    width: 50%;
    height: 55%;
    box-shadow: 15px 15px 4px #C4C4C4;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000000;
    margin: 0 2%;
}

.title {
    font-style: oblique;
    border: none;
    margin: 2% 5%;
    width: 90%;
    font-size: 20px;
    font-family: 'Rufina';
}

.closeModal {
    border: none;
    border-radius: 50%;
    background-color: #6b6161;
    color: #FFFFFF;
    height: 30px;
    width: 30px;
    box-shadow: 0px 8px 15px rgba (0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.closeModal:hover {
    background: rgba(239, 151, 151, 1);
    transform: translateY(-7px);
    color: #6b6161;
    box-shadow: 0px 10px 25px rgba (46, 223, 229, 0.445);
}

.contentNote {
    border: none;
    padding: 1%;
    margin: 2%;
    font-family: 'Rufina';
    font-size: 14.5px;
}

.containerFooter {
    display: flex;
    justify-content: space-around;
}

img {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.saveNote {
    border: none;
    cursor: pointer;
    background-color: #C4C4C4;
    color: #424E5A;
    border-radius: 20px;
    height: 40px;
    width: 120px;
    box-shadow: 0px 8px 15px rgba (0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.saveNote:hover {
    background: rgba(239, 151, 151, 1);
    transform: translateY(-7px);
    color: #FFFFFF;
    box-shadow: 0px 10px 25px rgba (46, 223, 229, 0.445);
}