<main>
    <h1>Registro</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <!-- <input type="text" placeholder="Nombre y Apellido" ><br> -->
        <input type="email" placeholder="Correo electrónico" formControlName="email"><br>
        <input type="password" placeholder="contraseña" formControlName="password"><br>
        <!-- <input type="password" placeholder="confirmar contraseña"><br> -->

        <button type="submit">Registrarse</button><br>
        <span>Ya tienes cuenta?<a routerLink="/">Inicia sesión</a></span>
    </form>
</main>