<section>
    <div>
        <ul>
            <li>
                <a routerLink="/inicio">
                    <img src="../../../assets/img/hogar.png" alt="">
                </a>
            </li>
            <li>
                <a routerLink="/notas">
                    <img src="../../../assets/img/notas.png" alt="">
                </a>
            </li>
            <li>
                <a routerLink="/archivadas">
                    <img src="../../../assets/img/abierto.png" alt="">
                </a>
            </li>
            <li>
                <a routerLink="/eliminadas">
                    <img src="../../../assets/img/papelera-de-reciclaje.png" alt="">
                </a>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li>
                <a routerLink="/">
                    <img src="../../../assets/img/cerrar-sesion.png" alt="">
                </a>
            </li>
        </ul>
    </div>
</section>