<main class="navbar">
    <div>
        <li class="menu">
            <img src="../../../assets/img/hogar.png" alt="" routerLink="/inicio">
            <img src="../../../assets/img/notas.png" alt="" routerLink="/notas">
            <img src="../../../assets/img/abierto.png" alt="" routerLink="/archivadas">
            <img src="../../../assets/img/papelera-de-reciclaje.png" alt="" routerLink="/eliminadas">
        </li>
    </div>
    <div>
        <li>
            <img src="../../../assets/img/cerrar-sesion.png" alt="" (click)="logoutUser()">
        </li>
    </div>
</main>