<main class="navbar">
    <div>
        <li class="menu">
            <img src="../../../assets/img/hogar.png" alt="Inicio" routerLink="/inicio" title="Inicio">
            <img src="../../../assets/img/notas.png" alt="Notas" routerLink="/notas" title="Mis notas">
            <img src="../../../assets/img/abierto.png" alt="Archivadas" routerLink="/archivadas" title="Archivadas">
            <img src="../../../assets/img/papelera-de-reciclaje.png" alt="Eliminadas" routerLink="/eliminadas"
                title="Eliminadas">
        </li>
    </div>
    <div>
        <li>
            <img src="../../../assets/img/cerrar-sesion.png" alt="Salir" (click)="logoutUser()" title="Salir">
        </li>
    </div>
</main>