.backToLogin {
    margin: 10px 0 0 60px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.textBackToLogin {
    margin: 0 0 0 30px;
    font-family: 'Rufina';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 37px;
    color: #000000;
    cursor: pointer;

}

.imgBackground {
    margin: 0 0 0 15%;
    width: 70%;
    height: 70%;
}